@main("Display curves") {
    <script src="@routes.Assets.at("javascripts/display_words.js")" type="text/javascript"></script>
    <div class="row container-fluid">
        <div class="col-md-12 page-header">
            <h1>Smargn <small>research tool for stuff</small></h1>
        </div>
        <div class="col-md-4 text-center" id="words">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="word1" id="word1">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word2" id="word2">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word3" id="word3">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word4" id="word4">
            </div>

            <button onclick="display_words()" type="button" class="btn btn-default" id="search">Smargn 'em all!</button>
        </div>
        <div class="col-md-8">
            <div id="chartContainer">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.js"></script>
                <script src="http://dimplejs.org/dist/dimple.v2.1.2.js"></script>
            </div>
        </div>
    </div>

}