@(results: List[String])

@main("BD15-Smargn") {
    <div class="container-fluid">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="word1"  id="word1">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word2" id="word2">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word3" id="word3">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word4" id="word4">
            </div>

            <button onclick="send_words()" type="button" class="btn btn-default" id="search">Smargn 'em all!</button>
            <div id="errormsg"></div>
            <script>
                function send_words() {
                    var word1 = $("#word1").val();
                    var word2 = $("#word2").val();
                    var word3 = $("#word3").val();
                    var word4 = $("#word4").val();

                    $.ajax({
                        type: "POST",
                        url: "/naive",
                        data: JSON.stringify({
                            "words": JSON.stringify([word1, word2, word3, word4])
                        }),
                        success: function (data) {
                            var alerts = $("#errormsg");
                            alerts.empty();
                            if(data.notindata.length != 0) {
                                data.notindata.forEach(function(w) {
                                    alerts.append(
                                        "<div class=\"alert alert-danger\" role=\"alert\">"+
                                        w + " was not in the data."
                                        +"</div>");
                                });
                            }
                            if(data.nosimilarwords.length != 0) {
                                data.nosimilarwords.forEach(function(w) {
                                    alerts.append(
                                        "<div class=\"alert alert-info\" role=\"alert\">"+
                                        w + " has no similar words."
                                        +"</div>");
                                });
                            }
                            if(data.results != undefined) {
                                console.log(data.results);
                                var resList = $("#results");
                                resList.empty();
                                for(var key in data.results) {
                                    if (data.results.hasOwnProperty(key)) {
                                        resList.append("<li class=\"list-group-item list-group-item-success\">"+key+"</li>");
                                        data.results[key].forEach(function(res) {
                                            resList.append("<li class=\"list-group-item\">" + res + "</li>");
                                        });
                                    }
                                }
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                        },
                        contentType: "application/json; charset=utf-8"
                    });
                }
            </script>
        </div>

        <div class="row">
            <ul class="list-group" id="results">
            @for(res <- results) {
                <li class="list-group-item">@res</li>
            }
            </ul>
        </div>

        <div class="row">
            <div id="chartContainer">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.js"></script>
                <script src="http://dimplejs.org/dist/dimple.v2.1.2.js"></script>
                <script src ="@routes.Assets.at("javascripts/display_chart.js")" type="text/javascript"></script>
            </div>
        </div>
    </div>
}