@(results: List[String])

@main("BD15-Smargn") {
    <script src="@routes.Assets.at("javascripts/send_words.js")" type ="text/javascript"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="word1"  id="word1">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word2" id="word2">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word3" id="word3">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word4" id="word4">
            </div>

            <button onclick="send_words()" type="button" class="btn btn-default" id="search">Smargn 'em all!</button>
            <div id="errormsg"></div>
        </div>

        <div class="row">
            <ul class="list-group" id="results">
            @for(res <- results) {
                <li class="list-group-item">@res</li>
            }
            </ul>
        </div>

        <div class="row">
            <div id="chartContainer">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.js"></script>
                <script src="http://dimplejs.org/dist/dimple.v2.1.2.js"></script>
                <script src ="@routes.Assets.at("javascripts/display_chart.js")" type="text/javascript"></script>
            </div>
        </div>
    </div>
}