@main("BD15-Smargn") {
    <script src="@routes.Assets.at("javascripts/send_words.js")" type ="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/adapt_params.js")" type ="text/javascript"></script>
    <div class="row container-fluid">
        <div class="col-md-12 page-header">
            <h1>Smargn <small>research tool for stuff</small></h1>
        </div>
        <div class="col-md-4 text-center" id="words">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="word1" id="word1">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word2" id="word2">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word3" id="word3">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="word4" id="word4">
            </div>

            <button onclick="send_words()" type="button" class="btn btn-default" id="search">Smargn 'em all!</button>
        </div>
        <div class="col-md-4" id="parameters">
                <!-- Parameters of technique -->
            <div id="input_params">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="parameter1" id="parameter1">
                </div>
            </div>
                <!-- Choose technique to apply -->
            <form role="form">
                <div class="form-group">
                    <select class="form-control" id="technique_selector" onchange="adapt_params(this)">
                            <!-- Add your technique T here -->
                            <!-- Example:
                        <option>T.name</option>
                        -->
                        <option>NaiveDivision</option>
                        <option>NaiveDifference</option>
                        <option>Peaks</option>
                        <option>DTW</option>
                        <option>Inverse</option>
                        <option>Shift</option>
                        <option>Divergence</option>
                        <option>SmarterDivergence</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <div id="errormsg"></div>
            <div id="results">
                <ul class="list-group">
                </ul>
            </div>
        </div>

        <div class="col-md-12">
            <button onclick="display_chart()" type="button" class="btn btn-default" id="display">Display 'em all</button>
            <div id="chartContainer">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.js"></script>
                <script src="http://dimplejs.org/dist/dimple.v2.1.2.js"></script>
                <script src ="@routes.Assets.at("javascripts/display_chart.js")" type="text/javascript"></script>
            </div>
        </div>
    </div>
}